<html>
    <head>
        <title>First Page</title>
    </head>
    <body>
   
        <h3> Helloo My Name is Eshita. Navigate to next page</h3>
        <a href="/Second">Second</a>
    </body>
</html>    