<html>
    <head>
        <title>First Page</title>
    </head>
    <body>
   
        <h3> Helloo My Name is Eshita. Navigate to home page</h3>
        <a href="/index">index</a>
    </body>
</html>    